@media (min-width: 0rem) {
	.home {
		width: 100%;
	}

	.content {
		display:block;
		margin: 0%;
		width: 100%;
	}

	.no_text_content {
		padding-top: 2em;
		justify-content: center;
		width: 100%;
		font-weight: bold;
	}
}

@media (min-width: 50rem) {
	.home {
		width: 66%;
		margin: auto;
	}

	.content {
		display:inline-flex;
		margin: 0%;
		width: 100%;
	}

	.no_text_content {
		padding-top: 2em;
		justify-content: center;
		width: 70%;
		font-weight: bold;
	}

}

.title {
	text-align: center;
}