@media (min-width: 0rem) {
	.container {
		width: 100%;
	}
}

@media (min-width: 50rem) {
	.container {
		width: 66%;
		margin: auto;
	}
}

.title {
	text-align: center;
}

.total_price {
	text-align: center;
	margin-top: 3em;
}

.command_btn {
	color: white;
	padding: 0.8rem;
	font-size: 18px;
	border-radius: 4px;
	font-weight: 400;
	width: 100%;
	cursor: pointer;
	background-color: #673AB7;
	border-color: #673AB7;
	text-align: center;
	margin-top: 1em;
	float: right;
}

.btn_container{
	width: 100%;
	justify-content: center;
}