.tree_element {
    background-color : gray;
    padding: 0.4em;
    margin: 0.2em;
    color: aliceblue;
    text-align: left;
    border-radius: 5px;
}

.puce {
    font-weight: bold;
    margin-right: 0.5em;
}

.tree_element_button {
    float: right;
    background-color: #673AB7;
    color: antiquewhite;
}
