.blog_card {
    display: flex;
    flex-direction: column;
    margin: 1rem auto;
    box-shadow: 0 3px 7px -1px rgba(#000, .1);
    margin-bottom: 1.6%;
    background: white;
    line-height: 1.4;
    font-family: sans-serif;
    border-radius: 5px;
    overflow: hidden;
    z-index: 0;
    width: 100%;
  }
        
.meta {
    position: relative;
    z-index: 0;
    height: 200px;
}
.photo {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    transition: transform .2s;
}
.details,
.details ul {
    margin: auto;
    padding: 0;
    list-style: none;
}

.details {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -100%;
    margin: auto;
    transition: left .2s;
    background: rgba(#000, .6);
    color: white;
    padding: 10px;
    width: 100%;
    font-size: .9rem;
}
    ul li {
    display: inline-block;
    }
    .author:before {
    font-family: FontAwesome;
    margin-right: 10px;
    content: "\f007";
    }

    .date:before {
    font-family: FontAwesome;
    margin-right: 10px;
    content: "\f133";
    }

.description {
    padding: 1rem;
    background: white;
    position: relative;
    z-index: 1;
}

.description h1 {
    line-height: 1;
    margin: 0;
    font-size: 1.7rem;
    }
    .description h2 {
    font-size: 1rem;
    font-weight: 300;
    text-transform: uppercase;
    color: grey;
    margin-top: 5px;
    }
    .read_more {
        text-align: right;
    }

p {
    position: relative;
    margin: 1rem 0 0;
}

.quantity {
    width: 30%;
}

.quantity_text {
    margin-right: 0.5em;
    font-weight: 700;
}

@media (min-width: 640px) {
    .blog_card{
        flex-direction: row;
    }

    .meta {
    flex-basis: 40%;
    height: auto;
    }
    .description {
    flex-basis: 60%;
    }
}