@media (min-width: 0rem) {
  .productGridContainer {  display: grid;
    grid-template-columns: 1fr  1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1rem 1rem;
    grid-auto-flow: row;
    grid-template-areas:
      ". ."
      ". ."
      ". .";
    width: 100%;
    height: 100%;
  }

  .product_grid {
    display: block;
    width: 100%;
    height: 100%;
  }
}

@media (min-width: 50rem) {
  .productGridContainer {  display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1rem 1rem;
    grid-auto-flow: row;
    grid-template-areas:
      ". ."
      ". ."
      ". .";
  }

  .product_grid {
    display: block;
    width: 70%;
    height: 100%;
  }
}


@media (min-width: 80rem) {
  .productGridContainer {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem 1rem;
    grid-auto-flow: row;
    grid-template-areas:
      ". . ."
      ". . .";
  }

  .product_grid {
    display: block;
    width: 70%;
    height: 100%;
  }
}

.search_more_btn {
  color: white;
  padding: 0.8rem;
  font-size: 18px;
  border-radius: 4px;
  font-weight: 400;
  width: 100%;
  cursor: pointer;
  background-color: gray;
  border-color: gray;
  text-align: center;
  margin-top: 1em;
}