@media (min-width: 0rem) {
    .search_container {
        width: 100%;
        text-align: center;
        border: 2px solid #673AB7;
        margin-bottom: 0.5em;
        padding: 0.5em;
    }
}

@media (min-width: 50rem) {
    .search_container {
        width: 30%;
        text-align: center;
        border: 2px solid #673AB7;
        padding: 0.5em;
        margin-right: 0.5em;
        height: 70vh;
    }
}

.search_select {
    width: 90%;
    margin-bottom: 1em;
}

.search_title {
    font-size: 1em;
    margin: 1em;
}

.search_text {
    font-size: 1em;
    margin-top: 1em;
    text-align: left;
    margin-bottom: 0.5em;
}

.search_btn {
    color: white;
    padding: 0.8rem;
    font-size: 18px;
    border-radius: 4px;
    font-weight: 400;
    width: 100%;
    cursor: pointer;
    background-color: #673AB7;
    border-color: #673AB7;
    text-align: center;
  }
  
.category_selected {
    font-weight: bold;
}