@media (min-width: 0rem) {
	.container {
		width: 100%;
	}
}

@media (min-width: 50rem) {
	.container {
		width: 66%;
		margin: auto;
	}
}

.title {
	text-align: center;
}

.recap {
	font-size: 1.5em;
	text-align: center;
	border: #673AB7 solid 3px;
	padding: 0.5em;
}

.payment_btn {
	color: white;
	padding: 0.8rem;
	font-size: 18px;
	border-radius: 4px;
	font-weight: 400;
	width: 100%;
	cursor: pointer;
	background-color: #673AB7;
	border-color: #673AB7;
	text-align: center;
	margin-top: 1em;
	float: right;
}

.input {
	width: 100%;
	padding: 0.5em;
	border-width: 1px;
	border-radius: 0.2em;
	border-color: lightgray;
	margin-bottom: 1em;
}

.input_container {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.small_input{
	width: 100%;
	padding: 0.5em;
	border-width: 1px;
	border-radius: 0.2em;
	border-color: lightgray;
	margin-bottom: 1em;
}

.small_input_container {
	width: 30%;
}

.small_input_container {
	width: 60%;
}